---
export interface Props {
	title: string;
	description: string;
	opengraph?: {
		title: string;
		url: string;
		image: string;
		type: string;
		description: string;
		locale: string;
	};
}

const { title, description, opengraph } = Astro.props;

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

import "../styles/styles.css";
import ReadingProgress from "../components/ReadingProgress.astro";

---

<!DOCTYPE html>
<html lang="de">
<head>
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KWRK585L');</script>
	<!-- End Google Tag Manager -->
	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{ title }</title>
    <meta name="description" content={ description }>

    <!-- OPENGRAPH -->

		{
			opengraph && (
			  <>
				<meta property="og:title" content={opengraph.title || title} />
				<meta property="og:url" content={opengraph.url} />
				<meta property="og:image:width" content="1200" />
				<meta property="og:image:height" content="630" />
				<meta property="og:image" content={opengraph.image} />
				<meta property="og:type" content={opengraph.type} />
				<meta property="og:description" content={opengraph.description} />
				<meta property="og:locale" content={opengraph.locale} />
			  </>
			)
		  }


    <!-- Flavicon Icon -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <!-- ICOFONT -->
    <link rel="stylesheet" href="/icofont/icofont.min.css">
</head>

<div class="main-layout__grid">
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWRK585L"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
	<ReadingProgress />
   <Navbar />
    <main>
        <slot class="content"/>
    </main>
    <Footer />
</body>
</html>
</div>