---
//import components and layouts
import PostLayout from '../../layouts/PostLayout.astro';
import HeroShot from '../../components/HeroShot.astro';


//import sanity
import { sanityClient } from 'sanity:client';
import { urlForImage } from '../../lib/urlForImage';
import PortableText from '../../components/PortableText.astro';
import Wrapper from '../../components/Wrapper.astro';




export async function getStaticPaths() {
  const posts = await sanityClient.fetch(`*[_type == "post"]{..., author->}`);
  return posts
    .map((post) => {
      return post.slug?.current
        ? {
            params: {
              slug: post.slug?.current
            },
            props: { ...post }
          }
        : null;
    })
    .filter(Boolean);
}

const { title, description, body, mainImage, author, publishedAt, readingTime } = Astro.props;

---

<PostLayout
title={ title }
description={ description }
opengraph={{
	title: title,
	url: '',
	image: mainImage,
	type:'content',
	description: description,
	locale:'de'
}}
>
<HeroShot 
facebookShareLink="https://www.facebook.com/sharer/sharer.php?u=${Astro.url.toString()}"
linkedinShareLink="https://www.linkedin.com/shareArticle?mini=true&url=${Astro.url.toString()}"
'author={ author?author.name:"" }'
date={new Date(publishedAt).toLocaleDateString('de-DE')}
readingTime={ readingTime }
heading={ title }
subheading={ description }
/>


  <Wrapper
  wrapperClass="wrapper--smaller"
  > 
  <div class="featured-img__container">
    {
      mainImage && (
        <img class="post__featured-img" src={urlForImage(mainImage).url()} />
      )
    } 
    </div>
    <div class="post">
    <PortableText portableText={body}/>
    
    <div class="post-author__container">
      <div>
      <img class="post-author__img" src={urlForImage(author.image).url()} />
      <h6 class="post-author__name">{author.name}</h6>
    </div>
    <div class="post-author__text">
     <PortableText portableText={author.bio} />
    </div>
    
  </div>
  </Wrapper>

</PostLayout>

<style is:inline>

.post__title {
  text-align: center;
  margin-top: 1.5em;
}

.post__featured-img {
  margin: -1em auto 2em auto;
  border-radius: var(--border-radius);
}

/* POST LINK */

.post a {
  display: inline-block;
    position: relative;
    color: inherit;
    z-index: 1;
    font-weight: bold;
    padding: 0 0.1em;
}

.post a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0.2em;
        height: 0.46em;
        width: 100%;
        border-radius: 2px;
        background: linear-gradient(45deg, var(--first-color), var(--third-color), var(--second-color), var(--fourth-color));
        z-index: -1;
        transition: height .30s cubic-bezier(0.6,0,.4,1);
      }
      
      .post a:hover::after {
        height: 86%;
      }

      .post a:hover {
        color: #fff;
        transition-delay: 0.2s;
        transition-timing-function: linear;
      }

      /* POST LIST */

      .post li {
        margin-left: 1em;
        padding: 0.2em;
        font-size: var(--fs-300);
      }

       /* POST AUTHOR */
       .post-author__container {
        display: flex;
       margin-top: 7em;
       gap: 0.6em;
       text-align: center;
       }

      .post-author__img {
        border-radius: 50%;
        max-width: 60%;
      }

      .post-author__text {
        text-align: left;
        max-width: 50%;
        margin: auto 0;
      }


h2 {
  margin: 2.2em 0 1em 0;
  max-width: 100%;
}

h3 {
  margin: 1em 0 0.2em;
}

p {
  margin: 1em 0 1em 0;
}

.icofont-facebook,
.icofont-linkedin {
  color: var(--first-color);
}

.post h2,
.post h3 {
 
  overflow-wrap: anywhere;
}

@media only screen and (min-width: 40em) {
  .post__featured-img {
  margin: 2em auto 0 auto;
}
}
</style>